<h1><%= @document.first("title_tsim") %></h1>
<p><%= t("requesting.message") %></p>
<%= turbo_frame_tag "#{@document.id}_request" do %>
  <%= render RequestItemComponent.new(document: @document) %>
<% end %>
