<p>You may copy under some circumstances, for example you may copy a portion for research or study. Order a copy
  through <%= copies_direct_link(id) %> to the extent allowed under fair dealing.
  <%= rights_enquiry_link(document: document) %> for further information about copying.</p>
