<p>You may copy under some circumstances, for example you may copy a portion for research or study. Order a copy
  through <%= copies_direct_link %> to the extent allowed under fair dealing.
  <%= rights_contact_us_link %> for further information about copying.</p>
