<p>Copyright varies with each issue and article. You may have full rights to copy, or may be able to copy only under
  some circumstances, for example a portion for research or study. Order a copy where circumstances allow through
  <%= copies_direct_link(id) %> or <%= rights_contact_us_link %> for further information.</p>
