<p>You may copy or order a copy through <%= copies_direct_link(id) %> or use the online copy for research or study;
  for other uses <%= rights_enquiry_link(document: document) %> for further information about copying.</p>
