<div class="loading-skeleton">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title mb-4 h4">Loading...</h2>
      <div class="bento-item clearfix mb-4" data-unique-id="2677864">
        <h3 class="bento-item-title">A result</h3>
        <div class="col">
          <dl class="document-metadata dl-invert row">
            <dt class="col-12 col-md-3">Format</dt>
            <dd class="col col-sm-9">Record format</dd>
            <dt class="col-12 col-md-3">Language</dt>
            <dd class="col col-sm-9">Record language</dd>
            <dt class="col-12 col-md-3">Call number</dt>
            <dd class="col col-sm-9">Record call number</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
