<h3 class="bento-item-title">A result</h3>
<div class="col">
  <dl class="document-metadata dl-invert row">
    <dt class="col-12 col-md-3">Format</dt>
    <dd class="col col-sm-9">Record format</dd>
    <dt class="col-12 col-md-3">Language</dt>
    <dd class="col col-sm-9">Record language</dd>
    <dt class="col-12 col-md-3">Call number</dt>
    <dd class="col col-sm-9">Record call number</dd>
  </dl>
</div>
