<div class="navbar-search navbar navbar-light px-0">
  <%= form_tag bento_search_index_path, method: :get, class: "search-query-form", id: "search", aria: { label: t("blacklight.search.form.submit")} do %>
    <div class="input-group">
      <label for="q" class="sr-only visually-hidden"><%= t("blacklight.search.form.bento_search.label") %></label>
      <%= text_field_tag(
          "q",
          @query,
          placeholder: t("blacklight.search.form.bento_search.placeholder"),
          class: "search-q q form-control rounded-#{search_fields.length > 1 ? '0' : 'left'}",
          autocomplete: "off",
          aria: { label: t("blacklight.search.form.search.label") }
        )
      %>

      <span class="input-group-append">
        <%= render Blacklight::SearchButtonComponent.new(id: "search", text: t("blacklight.search.form.submit")) %>
      </span>
    </div>
  <% end %>
</div>
