<div class="other-resources mt-2">
  <h3>
    Other resources
  </h3>
  <ul class="blacklight-nav">
    <li>
      <%= link_to "Library Catalog", root_path  %>
    </li>
    <li>
      <%= link_to "eResources", "https://nla.gov.au/eresources" %>
    </li>
    <li>
      <%= link_to "Finding Aids", "/finding-aids" %>
    </li>
  </ul>
</div>
