<div class="navbar-search navbar navbar-light px-0 my-3">
  <%= form_tag bento_search_index_path, method: :get, class: "search-query-form", id: "search", role: "search" do %>
    <div class="input-group">
      <label for="q" class="visually-hidden"><%= t("blacklight.search.form.bento_search.label") %></label>
      <%= text_field_tag(
          "q",
          @query,
          placeholder: t("blacklight.search.form.bento_search.placeholder"),
          class: "search-q q form-control",
          autocomplete: "off"
        )
      %>

      <span class="input-group-append">
        <%= render Blacklight::SearchButtonComponent.new(id: "search", text: t("blacklight.search.form.submit")) %>
      </span>
    </div>
  <% end %>
</div>
