<div
  data-controller="bento-search-results"
  data-bento-search-results-engine-value="<%= @engine %>"
  data-bento-search-results-url-value="<%= @url %>">

  <div data-bento-search-results-target="output">
    <div class="loading-skeleton">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title mb-4 h4"><%= t("loading") %></h2>
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only"><%= t("loading") %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
