<div id="catalogue-record-actions" class="col-12 sticky-top py-2 mb-4 d-print-none">
  <div class="justify-content-start">
    <% if render_online? %>
      <a href="<%= online_url %>" class="btn btn-primary mb-2 me-2 me-lg-4 px-4"><%= online_label %></a>
    <% end %>
    <% if render_request? %>
      <a href="#request-details" id="request-btn" class="btn btn-primary mb-2 me-2 me-lg-4 px-4">Request</a>
    <% end %>
    <%= copies_direct_button(@document.id) %>
  </div>
</div>
