<form action="<%= ENV["COPIES_DIRECT_URL"] %>/items/import" class="sr-only" id="copiesdirect_addcart" method="post">
  <input id="source" name="source" type="hidden" value="cat">
  <input id="sourcevalue" name="sourcevalue" type="hidden" value="<%= @document.id %>">
</form>
