<div class="card feedback">
  <div class="card-header"><h2 class="mt-2 mb-0 h4"><%= t("feedback.title") %></h2></div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="feedback-link">
        <%= link_to t("feedback.report_error"), helpers.error_feedback_url(@id) %>
        <%= link_to t("feedback.culturally_sensitive"), helpers.culturally_sensitive_url(@id) %>
      </li>
    </ul>
  </div>
</div>
