<%- if limit_reached? && limit_reached.to_s.downcase == "true" %>
  <div class="alert alert-danger" role="alert">
    <%= limit_message.html_safe %>
  </div>
<%- elsif remaining_requests? %>
<div class="alert alert-info" role="alert">
  <%= t("account.requests.num_remaining", count: remaining_requests.to_s.to_i) %>
</div>
<%- end %>
