<%- if limit_reached? || @met_limit %>
  <div class="alert alert-danger" role="alert">
    <%= t("requesting.request_limit_error", url: ENV["ASK_LIBRARIAN_URL"]).html_safe %>
  </div>
<%- elsif remaining_requests? %>
<div class="alert alert-info" role="alert">
  <%= t("account.requests.num_remaining", count: remaining_requests) %>
</div>
<%- end %>
