<% if @error.present? %>
  <div class="alert alert-error">
    <%= @error %>
  </div>
<% else %>
  <div class="row">
    <div class="col-12">
      <% if holdings.present? %>
        <% if !holdings.is_a?(String) %>
          <%= render partial: "/request_item/holding", collection: holdings, locals: {document: @document}, cached: true %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
