<%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path, class: "dropdown-item" %>
<%= link_to t('blacklight.header_links.bookmarks_fa'), "/finding-aids/bookmarks", class: "dropdown-item" %>
<span class="badge badge-secondary bg-secondary visually-hidden" data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span>
