<div class="other-resources mt-2">
  <h2>
    Other resources
  </h2>
  <ul class="blacklight-nav">
    <li>
      <%= link_to "Library Catalog", "/"  %>
    </li>
    <li>
       <%= render :partial => "shared/link_articles_eresources" %>
    </li>
  </ul>
</div>
