<footer class="footer mt-auto py-3 bg-dark">
  <div class="<%= container_classes %>">
  <div class="row">
    <section class="acknowledgement-of-country text-center col-md-8 mx-auto">
      <h2 class="h6 font-family-sans text-uppercase font-weight-bold">Acknowledgement of Country</h2>
      <p>The National Library of Australia acknowledges Australia’s First Nations Peoples – the First Australians – as the Traditional Owners and Custodians of this land and gives respect to the Elders – past and present – and through them to all Australian Aboriginal and Torres Strait Islander people.</p>
    </section>
  </div>
    <hr>
      <div class="row">
    <section class="col-sm-10 offset-sm-1 col-md-3 offset-md-1">
      <h2 class="h4">Contact us</h2>
      <p><a href="tel:0262621111">+61 (0)2 6262 1111</a><br>Parkes Place<br>Canberra ACT 2600<br>Australia</p><p><a href="/visit-us/opening-hours">Opening hours</a><br><a href="/contact-us">More contact information</a></p>
    </section>
    <section class="connect col-sm-10 offset-sm-1 col-md-4 offset-md-0 text-center">
      <h2 class="h4">Connect</h2>
      <ul class="list-inline">
        <li class="list-inline-item px-2">
            <a href="https://www.facebook.com/National.Library.of.Australia">
                <i class="fab fa-facebook fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Facebook</span>
            </a>
        </li>
        <li class="list-inline-item px-2">
            <a href="https://twitter.com/nlagovau">
                <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Twitter</span>
            </a>
        </li>
        <li class="list-inline-item px-2">
            <a href="https://www.instagram.com/nationallibraryaus/">
                <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Instagram</span>
            </a>
        </li>
        <li class="list-inline-item px-2">
            <a href="https://www.youtube.com/channel/UCv51AT4rmiwH1M9aLDE1AIA">
                <i class="fab fa-youtube fa-2x" aria-hidden="true"></i>
                <span class="sr-only">YouTube</span>
            </a>
        </li class="list-inline-item">
        <li class="list-inline-item px-2">
            <a href="/subscribe-our-newsletter">
                <i class="far fa-envelope fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Newsletter</span>
            </a>
        </li>
    </ul>
      <p><a href="https://www.nla.gov.au/subscribe-our-newsletter">Subscribe to our newsletter</a></p>
    </section>
    <section class="col-sm-10 offset-sm-1 col-md-3 offset-md-1">
      <h2 class="h4">Quicklinks</h2>
      <ul class="list-unstyled">
        <li><a href="/jobs-at-the-library">Jobs at the Library</a></li>
        <li><a href="https://www.nla.gov.au/about/fellowships-scholarships-and-grants">Awards and Grants</a></li>
        <li><a href="https://copiesdirect.nla.gov.au/">Copies Direct</a></li>
        <li><a href="/getting-started">Getting Started</a></li>
        <li><a href="/about-us/about-site/user-feedback">User Feedback</a></li>
        <li><a href="/news-and-media">Media Centre</a></li>
    </ul>
    </section>
      </div>
  </div>
</footer>