@charset "UTF-8";


.accordion {
  --bs-accordian-color: var(--nla-black);
  --bs-accordion-bg: var(--nla-light-grey);
  --bs-accordion-border-width: 0;
  --bs-accordion-border-radius: 0;
  --bs-accordion-body-padding-x: 0;
  --bs-accordion-body-padding-y: 0;
  --bs-accordion-btn-color: var(--nla-body-color);
  --bs-accordion-btn-bg: var(--nla-light-grey);
  --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'><path d='m2 5 6 6 6-6'/></svg>");
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
  --bs-accordion-btn-padding-y: 0.75rem;
  --bs-accordion-btn-padding-x: 1rem;
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-color: var(--nla-black);
  --bs-accordion-active-bg: var(--nla-light-teal);
  --nla-accordion-active-hover-color: var(--nla-black);
  --nla-accordion-active-hover-bg: var(--nla-mid-teal);
  --nla-accordion-btn-icon-rotate: rotate(-90deg);
  --nla-accordion-btn-active-icon-rotate: rotate(0deg);
  --nla-accordion-btn-icon-filter: invert(0);
  --nla-accordion-btn-active-icon-filter: invert(0);
  --nla-facet-label-color: var(--nla-body-color);
  --nla-facet-count-color: var(--nla-grey-300);
  --nla-facet-value-hover-bg: var(--nla-tags-surface);
}

@media screen and (prefers-color-scheme: dark) {
  .accordion {
    --bs-accordion-bg: var(--nla-grey-300);
    --bs-accordion-btn-bg: var(--nla-grey-300);
    --bs-accordion-btn-bg: var(--nla-grey-300);
    --bs-accordion-active-color: var(--nla-black);
    --nla-accordion-active-hover-color: var(--nla-black);
    --nla-accordion-btn-icon-filter: invert(1);
    --nla-accordion-btn-active-icon-filter: invert(0);
    --nla-facet-count-color: var(--nla-body-color);
    --nla-facet-value-hover-bg: var(--nla-grey-600);
  }
}


.accordion-item {
  margin-bottom: 1rem;
}

.accordion-button {
  //font-size: 1rem;
  font-weight: 600;
  text-underline-offset: 2px;
  text-underline-position: under;
  
  &::after {
    transform: var(--nla-accordion-btn-icon-rotate);
    filter: var(--nla-accordion-btn-icon-filter);
  }
  
  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--nla-accordion-active-hover-color);
    background-color: var(--nla-accordion-active-hover-bg);
    
    &::after {
      filter: var(--nla-accordion-btn-active-icon-filter);
    }
  }
  
  // Facet is opened
  &:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--bs-accordion-active-bg);
    
    &::after {
      transform: var(--nla-accordion-btn-active-icon-rotate);
      filter: var(--nla-accordion-btn-active-icon-filter);
    }
    
    &:hover,
    &:focus {
      color: var(--bs-accordion-active-color);
      background-color: var(--nla-accordion-active-hover-bg);
    }
  }
}

// When an active facet is closed
.facet-limit-active {
  .accordion-button {
    &.collapsed {
      color: var(--nla-body-color);
      
      &:hover,
      &:focus,
      &:focus-visible {
        color: var(--bs-accordion-active-color);
        background-color: var(--nla-accordion-active-hover-bg);
      } 
    }
  }
}

// Items within the facet
.accordion-body {
  li {
    padding: 0.5rem 1rem;
    
    .facet-select {
      color: var(--nla-body-color);
    }
    
    .facet-select:hover,
    .facet-select:focus,
    .facet-select:focus-visible,
    .facet-select:active {
      color: var(--nla-body-color);
      text-decoration: underline;
      outline: none;
    }
 
    &:has(.facet-select:hover),
    &:has(.facet-select:focus),
    &:has(.facet-select:focus-visible),
    &:has(.facet-select:active) {
      background-color: var(--nla-facet-value-hover-bg);
    }
    
    &:has(.selected) {
      border-left: 2px solid var(--nla-dark-teal);
    }
    
    .facet-count,
    .facet-count.selected {
      color: var(--nla-facet-count-color);
      font-size: 0.875rem;
    }
    
    .remove {
      &:focus-visible {
        outline: none;
        color: var(--bl-facet-remove-hover-color);
      }
    }
  }
  
  .more_facets {
    padding: 0.5rem 1rem;
    
    [data-blacklight-modal]:hover,
    [data-blacklight-modal]:focus,
    [data-blacklight-modal]:active {
      color: var(--nla-body-color);
      background-color: var(--nla-facet-value-hover-bg);
      text-decoration: underline;
      outline: none;
      box-shadow: none;
    }
  }

}
