@charset "UTF-8";
@import "variables";

.btn {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  
  &.arrow {
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
    
    &:after {
      color: color("orange");
      content: "\F178";
      font: var(--fa-font-regular);
      position: absolute;
      font-weight: 400;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
    
    &:hover:after {
      right: 1.25rem;
      color: color("white");
    }
  }
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  background: color("light-purple");
  border-color: color("light-purple");
  background: color("black");
}

.btn-outline-primary,
.btn-outline-secondary {
  background: color("white");
  background: color("black");
}

