.page-sidebar {
  .card {
    border: none;
    margin-bottom: 1rem;
    
    .card-header {
      background-color: none;
      border: none;
      
      .h4 {
        font-family: "Roboto condensed", sans-serif;
        font-size: 1.375rem;
        color: color("purple");
        font-weight: bold;
        text-shadow: 0 1px 0 color("white");
        text-transform: uppercase;
        margin-left: -1.25rem;
      }
    }
  }
  
  .show-tools,
  .more-like-this,
  .explore,
  .feedback {
    .card-body {
      padding: 0;
      border: none;
    }
    
    a {
      color: color("purple");
      text-decoration: none;
      
      &:hover,
      &:focus {
        background: color("light-purple");
        color: color("white");
      }
    }
  }
  
  .show-tools {
    .list-group-item {
      border: none;
      padding: 0;
      
      a {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
    
    label {
      margin-bottom: 0;
      padding: 1rem;
      color: color("purple");
      display: block;
      
      &:hover {
        background: color("light-purple");
        color: color("white");
      }
    }
  }
  
  .more-like-this {
    .more_like_this_document {
      margin-bottom: 0;
      
      a {
        padding: 1rem;
        display: block;
      }
    }
  }
  
  .explore {    
    .explore-link {
      padding: 0;
            
      a {
        padding: 1rem;
        display: block;
        
        .explore-nla-shop-icon {
          filter: invert(100%);
        }
        
        &:hover,
        &:focus {
          .explore-nla-shop-icon {
            filter: invert(0%);
          }
          
          .text-muted {
            color: color("white") !important;
          }
        }
      }
    }
  }

  .feedback {
    .feedback-link {
      padding: 0;

      a {
        padding: 1rem;
        display: block;
      }
    }
  }
}
