@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";

// Facets
.page-sidebar .facets.sidenav,
.page-sidebar .advanced-facet-limits {
  
  background: transparent;
  
  .facets-header {
    border-bottom: 1px solid $grey-700;
  
    .facets-heading {
      font-family: $font-family-sans-serif;
      font-size: 1.25rem;
      color: $black;
      font-weight: 600;
      margin-bottom: 0;
    }
    
    .navbar-toggler {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      
      &:hover,
      &:focus,
      &:active {
        background-color: $light-grey;
        text-decoration: underline;
      }
    }
    
    .navbar-toggler[aria-expanded="false"] {
      span[data-hide-label] {
        display: none;
      }
    }
    
    .navbar-toggler[aria-expanded="true"] {
      span[data-show-label] {
        display: none;
      }
    }
  }
  
  // Facet body
  .facets-collapse {
    .card {
      border-radius: 0 !important;
      margin-bottom: 1rem;
    }
    
    h3 {
      font-family: $font-family-sans-serif;
      
      .btn {
        text-underline-offset: 2px;
        text-underline-position: under;
        text-decoration: none;
        
        &:focus,
        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }
    
    .facet-limit:not(:first-child) {
      margin-top: 1rem;
    }
    
    .facet-limit {
      border-bottom: 1px solid $white;
      
      &.card {
        background-color: $light-grey;
      }
    
      .facet-field-heading {
        background: $light-grey !important;
        border-bottom: none;
        
        &:has(.btn:hover),
        &:has(.btn:focus),
        &:has(.btn:active) {
          background-color: $mid-teal !important;
        }
        
        &:has([aria-expanded="true"]) {
          background-color: $light-teal !important;
        }
        
        .btn {
          border: none;
          color: $black;
          padding: 0.75rem 1rem !important;
          
          &:after {
            margin-left: 0.5rem;
          }
          
          &:focus,
          &:focus-visible {
            outline: none;
            box-shadow: none;
          }
        }
        
        .btn:after {
          float: none;
          display: inline-block;
        }
        
        .btn:not(.collapsed):after {
          transform: rotate(90deg);
          transition: transform 0.15s ease-in-out;
        }
      }
      
      // Items within the facet
      .facet-content {
        .card-body {
          padding: 0;
          
          .range_limit {
            .profile,
            .range-limit-input-group {
              padding: 0 1rem;
            }
            
            .btn {
              border-width: 1px;
            }
            
            .more_facets {
              padding: 0 1rem 0.5rem;
            }
          }

        }
        
        .facet-values {
          li {
            padding: 0.5rem 1rem;
            background-color: $light-grey;
            
            &:has(.facet-select:hover),
            &:has(.facet-select:focus),
            &:has(.facet-select:active) {
              background-color: $tags-surface;
            }
            
            &:has(.selected) {
              border-left: 2px solid $dark-teal;
            }
          }
          
          .facet-select {
            text-decoration: none;
            color: $body-color;
            
            &:focus,
            &:hover,
            &:active {
              color: $body-color;
              background-color: transparent;
              box-shadow: none;
              text-decoration: underline;
            }
          }
          
          .facet-count {
            color: $grey-300;
            font-size: 0.875rem;
            
            &.selected {
              color: $grey-300 !important;
            }
          }
          
          .selected {
            color: $body-color !important;
          }
          
          .remove {
            font-weight: normal;
            color: $grey-300;
            
            &:focus,
            &:hover,
            &:active {
              color: $muted-orange;
              background-color: transparent !important;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
