@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";

#skip-link {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;
  
  .element-invisible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    
    &.element-focusable:focus,
    &.element-focusable:active {
      position: static !important;
      clip: auto;
      overflow: visible;
      height: auto;
    }
  }
}

.header {
  border-bottom: 1px solid #e6e6e6;
  
  .top-bar {
    background-color: $lightest-teal;
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    .navbar-nav {
      gap: 1.5rem;
      
      .nav-link {
        padding: 0;
        text-decoration: none;
        transition: all 0.25s;
        
        &:hover,
        &:focus,
        &.active {
          color: $white;
        }
      }
    }
  }
  
  .bottom-bar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    .navbar-brand.navbar-logo {
      height: 45px;
      width: 178px;
      background-size: contain;
      margin-top: 0;
      
      &:hover,
      &:focus,
      &.active {
        background-color: transparent;
        box-shadow: none;
      }
      
      &:focus {
        outline: 2px solid $black;
        outline-offset: 0.25rem;
      }
    }
    
    @media (min-width: 768px) {
      .navbar-brand.navbar-logo {
        height: 73px;
        width: 294px;
        background-size: contain;
      }
    }
  
    .navbar-collapse {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      
      .navbar-nav {
        gap: 1.875rem;
        
        .nav-link {
          padding: 0;
          color: $black;
          font-size: 1.25rem;
          font-weight: 600;
          line-height: 1.2;
          text-underline-offset: 2px;
          text-underline-position: under;
          text-decoration: none;
          
          &:hover,
          &:focus,
          &:active,
          &.active {
            color: $black;
            background-color: transparent;
            text-decoration: underline;
            box-shadow: none;
          }
        }
        
        .dropdown-menu {
          background-color: $white;
          box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.08);
          
          .dropdown-item {
            color: $grey-700;
            text-decoration: none;
      
            &:hover,
            &:focus,
            &:active,
            &.active {
              background-color: $light-grey;
              color: $grey-700;
              box-shadow: none;
            }
          }
        }
        
        @media (min-width: 768px) {
          .navbar-nav {
            gap: 1.5rem;
          
            .nav-link {
              font-size: 1rem;
            }
          }
        } 
        
        @media (min-width: 992px) {
          .navbar-nav {
            gap: 1.875rem;
          
            .nav-link {
              font-size: 1.25rem;
            }
          }
        } 
    
      }
    }
  
  }

  
  
}
