@charset "UTF-8";


.navbar-logo {
  --bl-logo-image: url('nla_logo.svg');
  --bl-logo-width: 294px;
  --bl-logo-height: 73px;
  --nla-logo-width-mobile: 178px;
  --nla-logo-height-mobile: 45px;
}

.navbar-toggler {
  --nla-navbar-toggler-filter: invert(0);
}
@media screen and (prefers-color-scheme: dark) {
  .navbar-toggler {
    --nla-navbar-toggler-filter: invert(1);
  }
}


#skip-link {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;
  
  .element-invisible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    
    &.element-focusable:focus,
    &.element-focusable:active {
      position: static !important;
      clip: auto;
      overflow: visible;
      height: auto;
    }
  }
}

.header {
  border-bottom: 1px solid #e6e6e6;
  
  .top-bar {
    background-color: var(--nla-lightest-teal);
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    .navbar-nav {
      gap: 1.5rem;
      
      .nav-link {
        padding: 0;
        text-decoration: none;
        transition: all 0.25s;
        
        &:hover,
        &:focus,
        &.active {
          color: var(--nla-white);
        }
      }
    }
  }
  
  .bottom-bar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    .navbar-brand.navbar-logo {
      height: var(--nla-logo-height-mobile);
      width: var(--nla-logo-width-mobile);
      background-size: contain;
      margin-top: 0;
      
      &:hover,
      &:focus,
      &.active {
        background-color: transparent;
        box-shadow: none;
      }
      
      &:focus {
        outline: 2px solid var(--nla-body-color);
        outline-offset: 0.25rem;
      }
    }
    
    .navbar-toggler {
      filter: var(--nla-navbar-toggler-filter);
    }
    
    @media (min-width: 768px) {
      .navbar-brand.navbar-logo {
        height: var(--bl-logo-height);
        width: var(--bl-logo-width);
        background-size: contain;
      }
    }
  
    .navbar-collapse {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      
      .navbar-nav {
        gap: 1.875rem;
        
        .nav-link {
          padding: 0;
          color: var(--nla-body-color);
          font-size: 1.25rem;
          font-weight: 600;
          line-height: 1.2;
          text-underline-offset: 2px;
          text-underline-position: under;
          text-decoration: none;
          
          &:hover,
          &:focus,
          &:active,
          &.active {
            color: var(--nla-body-color);
            background-color: transparent;
            text-decoration: underline;
            box-shadow: none;
          }
        }
        
        @media (min-width: 768px) {
          .navbar-nav {
            gap: 1.5rem;
          
            .nav-link {
              font-size: 1rem;
            }
          }
        } 
        
        @media (min-width: 992px) {
          .navbar-nav {
            gap: 1.875rem;
          
            .nav-link {
              font-size: 1.25rem;
            }
          }
        } 
    
      }
    }
  
  }

  
  
}
