@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";
@import "bootstrap/scss/mixins";

.collection-search {
  .h5 {
    color: $gray-medium;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  
  .collection-search-box {
    background-color: $light-grey;
    .input-group {
      gap: 1rem;
      
      .search-q {
        border-radius: 4px !important;
      }
    }
    
    h2 {
      color: $grey-700;
      font-family: $font-family-serif;
      font-size: 2.5rem;
      font-weight: 400;
    }
    
    .search-q {
      background-color: $white !important;
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
      border-color: $warm-grey;
      border-width: 1px;
      
      
      &::placeholder {
        color: $warm-grey;
      }
      
      &:focus {
        border-color: $black;
      }
    }
  }
  
  .submit-search-text {
    // hide 'search' label at very small screens
    @media screen and (max-width: breakpoint-max(md)) {
      @if mixin-exists(visually-hidden) {
        @include visually-hidden();
      }
    }
  }

}

.catalogue-search,
.eresources-search,
.finding-aids-search {
  border: none;
  
  &:focus,
  &:hover {
    background-color: $light-grey;
  }
  
  .image-container {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
  }
  
  .card-img-top {
    transition: transform 0.3s ease-in-out;
  }
  
  .card-title a {
    color: $grey-700;
    text-decoration: none;
    font-family: $font-family-sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    text-underline-offset: 2px;
    text-underline-position: under;
    
    &:hover,
    &:focus {
      color: $grey-700;
      background-color: transparent;
      text-decoration: underline;
      box-shadow: none;
    }
  }
  
  &:hover {
    .card-img-top {
      transform: scale(1.05);
    }
    
    @media (prefers-reduced-motion: reduce) {
      .card-img-top {
        transform: none;
      }
    }
  }
}

.library-card {  
  .h4 {
    color: $grey-700;
    font-family: $font-family-sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
  }
}
