@charset "UTF-8";
@import "variables";

.collection-search {
  .h5 {
    color: color("gray-medium");
    font-weight: 500;
  }
  
  .collection-search-box {
    background-color: color("purple");
    
    h2 {
      color: color("white");
    }
    
    .search-q {
      background-color: color("white") !important;
    }
  }
  
  .submit-search-text {
    // hide 'search' label at very small screens
    @media screen and (max-width: breakpoint-max(md)) {
      @if mixin-exists(sr-only) {
        @include sr-only();
      }
      @if mixin-exists(visually-hidden) {
        @include visually-hidden();
      }
    }
  }

}

.catalogue-search,
.eresources-search,
.finding-aids-search {
  border: none;
  
  &:focus,
  &:hover {
    box-shadow: 3px 3px 6px 0 rgba(112,57,150,0.1);
  }
  
  .image-container {
    overflow: hidden;
  }
  
  .card-img-top {
    transition: transform .1s ease-in-out;
  }
  
  .card-title a {
    color: color("purple");
    text-decoration: none;
    
    &:hover,
    &:focus {
      color: color("purple");
      text-decoration: underline;
    }
  }
  
  &:hover {
    .card-img-top {
      transform: scale(1.1);
    }
  }
}

.library-card {
  background-color: color("white");
}