@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";

.modal {
  .modal-header {
    border-bottom: none;
  
    .modal-title {
      font-family: "Roboto condensed", sans-serif;
      font-size: 1.375rem;
      text-transform: uppercase;
    }

    .close:hover,
    .close:focus {
      color: $orange;
      opacity: 1;
    }
  }

  .citation-details {
    .h5 {
      margin-bottom: 0;
      font-family: "Roboto condensed", sans-serif;
      font-size: 1.125rem;
      text-transform: uppercase;
    }
    
    [data-clipboard-target="button"] {
      color: $light-purple;
      
      &:hover,
      &:focus {
        color: $purple;
      }
    }
  }
}

body:has(dialog[open]) {
  overflow: hidden;
}

dialog::backdrop {
  background-color: $black;
  opacity: 0.5;
}

@media print {
  body:has(dialog[open]) {
    overflow: visible;
    
    header,
    #global-messages,
    .navbar-search,
    #main-container,
    footer {
      display: none;
    }
    
    .modal {
      --bs-modal-width: 100%;
      --bs-modal-margin: 0;
      position: relative;
      visibility: visible;
      overflow: visible !important;
      height: auto;
    }
    
    .modal-dialog {
      visibility: visible;
      overflow: visible !important;
      height: auto;
    }
    
    .modal-dialog-scrollable {      
      .modal-content {
        overflow: visible !important;
        
        .blacklight-modal-close {
          display: none;
        }
      }
    }
    
  }
}