@charset "UTF-8";

@import "variables";

// Override Blacklight CSS custom properties
:root {
  --bl-logo-image: url('nla_logo.svg');
}

@import "advanced-search";
@import "buttons";
@import "facets";
@import "main";
@import "footer";
@import "header";
@import "search-results";
@import "typography";
@import "lists";
@import "homepage";
@import "record";
@import "catalog_sidebar";
@import "skeleton";
@import "modal";
@import "forms";
@import "pagination";
@import "alert";
@import "transition";

// Components
@import "./components/copyright-info";
@import "./components/related-records";
@import "./components/more_like_this";
@import "./components/bento-search";
@import "./components/catalogue-record-actions";
@import "./components/request_details";
@import "./components/bookmarks";
@import "./components/citations";
@import "./components/user-details-field-component";
@import "./components/range_slider";

@import "dark-mode";