@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";

.document-thumbnail {
  &.col-12 a {
    position: relative;
    display: inline-block;
    
    &:before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-regular);
        content: '\f00e';
        color: $white;
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        background-color: rgba(0,0,0,0.6);
        border-radius: 0.25em;
        padding: 0.25em;
        transition: background-color 0.25s ease-in-out;
    }
    
    &:hover:before {
      background-color: rgba(0,0,0,0.4);
    } 
  }
  
  .thumbnail {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
    object-position: 0 0;
  }
}

.document {
  .dl-invert dt {
    color: $gray-medium-light;
  }
}

.document-title-heading {
  .document-counter {
    display: none;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.holding {
  &:hover {
    box-shadow: 3px 3px 6px 0 rgba(112,57,150,0.1);
  }
}
