@charset "UTF-8";
@import "variables";



.document-thumbnail.col-12 a {
  position: relative;
  display: inline-block;
  
  &:before {
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font: var(--fa-font-regular);
      content: '\f00e';
      color: color("white");
      position: absolute;
      top: 0.5em;
      left: 0.5em;
      background-color: rgba(0,0,0,0.6);
      border-radius: 0.25em;
      padding: 0.25em;
      transition: background-color 0.25s ease-in-out;
  }
  
  &:hover:before {
    background-color: rgba(0,0,0,0.4);
  }
  
}

.show-tools {
  border: none;
  
  .card-header {
    background-color: color("gray-very-light");
  }
  
  .list-group-item {
    border-left-width: 1px;
    border-right-width: 1px;
  }
  
  .list-group-item:last-child {
    border-bottom-width: 1px;
  }
}

.more-like-this {
  border: none;
  
  .card-header {
    background-color: color("gray-very-light");
  }

  .card-body {
    border-color: rgba(0,0,0,0.125);
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0;
  }
}

.citation-details {
  .h4 {
    margin-bottom: 0;
  }
  
  [data-clipboard-target="button"] {
    color: color("light-purple");
    
    &:hover,
    &:focus {
      color: color("purple");
    }
  }
}

.explore {
  border: none;

  .card-header {
    background-color: color("gray-very-light");
  }

  .card-body {
    border-color: rgba(0,0,0,0.125);
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0;
  }
}
