@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";

.constraints-container {
  margin-top: 1rem;
  
  .applied-filter {
    .constraint-value {
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem;
      border-right-width: 0;
      font-size: 0.75rem;
      font-weight: normal;
      text-transform: none;
      letter-spacing: 0;
      padding-left: 1rem;
      padding-right: 1rem;
      
      &:hover,
      &:focus {
        background-color: $white;
        color: $purple;
        cursor: default;
      }
    }
    
    .remove {
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;
      border-left-width: 0;
      padding-left: 0;
      padding-right: 1rem;
      font-size: 0.75rem;
      font-weight: normal;
      color: rgba(70,71,74, 0.3);
      
      &:not(:disabled):not(.disabled):hover,
      &:not(:disabled):not(.disabled):focus,
      &:not(:disabled):not(.disabled):active {
        background: $white;
        color: $orange;
        border-color: $purple;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

.sort-pagination {
  .btn-group {
    .btn {
      font-weight: normal;
      font-size: 0.875rem;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

.documents-list {
  .document {
    margin-top: 0;
    padding: 1rem;
    
    &:focus,
    &:hover {
      background: $white;
      box-shadow: 3px 3px 6px 0 rgba(112,57,150,0.1);
    }
    
    .document-thumbnail {
      float: none;
      margin-bottom: 0;
      padding-left: 0;
      text-align: right;
    }
    
    .toggle-bookmark {
      color: $light-purple;
    }
  }
}
