@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";

.constraints-container {
  margin-top: 1rem;
  
  .applied-filter {
    color: $warm-grey;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
    
    &:focus,
    &:hover {
      .constraint-value {
        background: $grey-350;
        color: $white;
      }
    }
    
    &:focus,
    &:hover {
      .remove {
        background: $grey-350;
        color: $white;
      }
    }
    
    
    .constraint-value,
    .remove {
      background-color: $tags-surface;
      border: none;
      font-size: 0.875rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      line-height: 1;
      
      &.btn {
        padding-top: 0.5rem !important;
        padding-bottom: 0 !important;
      }
    }
    
    .constraint-value {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    
    .remove {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      padding-left: 0;
      z-index: 10;
      
      &:not(:disabled):not(.disabled):hover,
      &:not(:disabled):not(.disabled):focus,
      &:not(:disabled):not(.disabled):active {
        color: $muted-orange;
        cursor: pointer;
        text-decoration: none;
        box-shadow: none;
      }
    }
  }
}

.sort-pagination {
  border-top: 1px solid rgb(230,230,230);
  
  .btn {
    font-weight: normal;
    font-size: 0.875rem;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    color: $grey-700;
    background: transparent;
    
    &:focus,
    &:hover,
    &:active,
    &.show {
      background-color: transparent;
      color: $black;
      box-shadow: none;
    }
  }
  
  .sort-dropdown {
    .btn {
      .d-sm-inline {
        font-weight: 600;
        color: $black;
      }
    }
  }
    
  .per_page-dropdown {
    .btn {
      font-weight: 600;
      color: $black;

      .d-sm-inline {
        font-weight: 400;
        color: $grey-700;
      }
    }
  } 
  
  .dropdown-menu.show {
    background-color: $white;
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.08);
    
    .dropdown-item {
      color: $grey-700;
      text-decoration: none;
      
      &:focus,
      &:hover,
      &:active,
      &.active {
        background-color: $light-grey;
        color: $grey-700;
        box-shadow: none;
      }
    }
  }
}

.documents-list {
  .document {
    margin-top: 0;
    padding: 1rem;
    border-bottom: 1px dotted $light-grey;
    
    &:focus,
    &:hover,
    &:has(.document-title-heading a:focus) {
      background: $light-grey;
    }
    
    .document-title-heading {
      text-underline-offset: 2px;
      text-underline-position: under;
      
      .text-break {
        &:focus,
        &:hover,
        &:active {
          color: $grey-700;
          background: transparent;
          text-decoration: underline;
          box-shadow: none;
          
          &:after {
            content: " \F061";
            font: var(--fa-font-regular);
          }
  
        }
      }
    }
    
    .dl-invert {
      dt {
        color: $grey-300;
      }
    }
    
    .document-thumbnail {
      float: none;
      margin-bottom: 0;
      padding-left: 0;
      text-align: right;
      
      .text-break:focus,
      .text-break:hover,
      .text-break:active {
        box-shadow: none;
      }
    }
    
    .toggle-bookmark {
      color: $mid-teal;
    }
  }
}
