@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";

a:not(.btn, .page-link) {
  color: $link-color;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-underline-position: under;
  transition: all 0.25s;

  &:focus,
  &:hover,
  &:active {
    color: $white;
    text-decoration: none;
    background-color: $link-hover-bg-color;
    outline: none;
    box-shadow: 0 0 0 4px $link-hover-bg-color;
  }
}

a.btn,
a.page-link {
  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
  }
}

h1 {
  font-family: $font-family-serif;
  color: $body-color;
  font-weight: 400;
}