@charset "UTF-8";


a:not(.btn, .dropdown-item, .page-link, .facet-select, .remove) {
  color: var(--nla-link-color);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-underline-position: under;
  transition: all 0.25s;

  &:focus,
  &:hover,
  &:active {
    color: var(--nla-link-hover-color);
    text-decoration: none;
    background-color: var(--nla-link-hover-bg);
    outline: none;
    box-shadow: 0 0 0 4px var(--nla-link-hover-bg);
  }
}

a.btn,
a.page-link {
  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
  }
}

h1 {
  font-family: var(--nla-font-family-serif);
  color: var(--nla-body-color);
  font-weight: 400;
}

.blacklight-account,
.blacklight-bookmarks,
.blacklight-request {
  h1 {
    margin-top: 3rem;
  }
}