
// Override Blacklight CSS custom properties
:root {
  --nla-black: #000000;
  --nla-warm-grey: #685E57;
  --nla-light-grey: #F2F2F2;
  --nla-white: #FFFFFF;
  --nla-dark-teal: #58a291;
  --nla-mid-teal: #6bbbae;
  --nla-light-teal: #a1d6ca;
  --nla-lightest-teal: #def0ed;
  --nla-dark-red: #9a3324;
  --nla-muted-orange: #dc764c;
  --nla-light-muted-orange: #f5a992;
  --nla-lightest-orange: #fcd9c9;
  --nla-dark-blue: #2e86ab;
  --nla-mid-blue: #96c2d7;
  --nla-light-blue: #c9e1ea;
  --nla-lightest-blue: #d9eef4;
  --nla-muted-yellow: #e4dc95;
  --nla-parchment: #fff7d2;
  
  --nla-grey-800: #121212;
  --nla-grey-700: #1c1c1e;
  --nla-grey-600: #2c2c2e;
  --nla-grey-500: #3a3a3c;
  --nla-grey-400: #48484a;
  --nla-grey-350: #585a5a;
  --nla-grey-300: #636366;
  --nla-grey-200: #707075;
  --nla-grey-100: #75757b;
  --nla-grey-50: #828282;
  
  --nla-success-light: #e5f6e6;
  --nla-success-dark: #008a07;
  --nla-error-light: #f7e7eb;
  --nla-error-mid: #ffb8c1;
  --nla-error-dark: #b81237;
  --nla-warning-light: #fbeee5; 
  --nla-warning-dark: #c95000;
  --nla-info-light: #eaedf4;
  --nla-info-dark: #2e5299;
  
  --nla-disabled-text: #666666;
  --nla-link-hover-bg-color: rgba(0,0,0,0.65);
  --nla-tags-surface: #dcdcdc;
  
  --nla-font-family-serif: "STIX Two Text", "Times New Roman", system-ui, serif;
  --nla-font-family-sans-serif: "Open Sans", system-ui, "Segoe UI", sans-serif;
  
  --nla-body-color: var(--nla-grey-700);
  --nla-body-bg: var(--nla-white);
  
  --bs-body-color: var(--nla-body-color);
  --bs-body-bg: var(--nla-body-bg);
  --bs-heading-color: var(--nla-body-color);
  --bs-headings-font-weight: 600;

  --nla-link-color: var(--nla-body-color);
  --nla-link-hover-color: var(--nla-white);
  --nla-link-hover-bg: rgba(0,0,0,0.65);
  
  --nla-result-item-border-color: var(--nla-light-grey);
  --nla-result-item-hover-bg: var(--nla-light-grey);
  --nla-result-item-dt-color: var(--nla-grey-300);
  --bl-field-name-color: var(--nla-grey-300);
  
  --nla-request-details-bg: var(--nla-light-grey);
  --nla-request-holdings-bg: var(--nla-white);
  --nla-request-holdings-hover-bg: var(--nla-white);
}



// Dark mode
@media screen and (prefers-color-scheme: dark) {
  :root {
    --nla-body-color: var(--nla-white);
    --nla-body-bg: var(--nla-black);
    //--bs-body-color: var(--nla-white);
    //--bs-body-bg: var(--nla-black);
    
    --nla-link-color: var(--nla-body-color);
    --nla-link-hover-color: var(--nla-black);
    --nla-link-hover-bg: rgba(255,255,255,0.8);  
        
    --nla-result-item-border-color: var(--nla-grey-600);
    --nla-result-item-hover-bg: var(--nla-grey-600);
    --nla-result-item-dt-color: var(--nla-grey-50);
    --bl-field-name-color: var(--nla-grey-50);
    
    --nla-request-details-bg: var(--nla-grey-700);
    --nla-request-holdings-bg: var(--nla-grey-600);
    --nla-request-holdings-hover-bg: var(--nla-grey-300);
  }
}