<div class="card more-like-this">
  <div class="card-header"><h2 class="mt-4 mb-0 h4"><%= t("blacklight.more_like_this") %></h2></div>
  <div class="card-body">
    <ul class="list-unstyled">
      <% @document.more_like_this.each do |document| %>
        <li class="more_like_this_document">
          <span class="mlt_title"><%= link_to_document document %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
