<% value = use_thumbnail_tag_behavior? ? presenter.thumbnail.thumbnail_tag(@image_options, 'aria-hidden': true, tabindex: -1, counter: @counter) : presenter.thumbnail.render(@image_options) %>

<% if value %>
  <div class="document-thumbnail">
    <% if use_thumbnail_tag_behavior? %>
      <% warn_about_deprecated_behavior %>
      <%= value %>
    <% else %>
      <%= link_to value, presenter.thumbnail.link_value, {"aria-hidden": true, tabindex: -1, counter: @counter} %>
    <% end %>
  </div>
<% end %>
