<%= render GlobalMessageComponent.new %>

<p><%= t("home.p1").html_safe %></p>
<p><%= t("home.p2").html_safe %></p>
<p><%= t("home.p3").html_safe %></p>

<%# This is the same panel shown in the Rails welcome template %>
<% if Rails.env.development? || Rails.env.test? %>
<div id="about" class="card">
  <h6 class="card-header collapsed collapse-toggle" data-toggle="collapse" data-target="#about-content"><a href="/rails/info/properties">About this application environment</a></h6>
  <div id="about-content" class="card-body collapse"></div>
</div>
<% end %>

<script>
  Blacklight.onLoad(function() {
    $('#about .card-header').one('click', function() {
      $($(this).data('target')).load($(this).find('a').attr('href'));
    });
  });
</script>
