<div id="request-details" class="col mb-2">
  <h2 class="h3"><%= t("requesting.heading") %></h2>
  <p><%= t("requesting.message") %></p>
  <%= turbo_frame_tag :"#{document.id}_request", src: solr_document_request_path(solr_document_id: document.id), loading: :lazy do %>
  <div class="loading-skeleton">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <% end %>
</div>
