<h2>Sorry!</h2>

<p><%= link_to @eresource[:entry]["title"], @requested_url %> is a subscription service that is only
available within the National Library of Australia building in Canberra.</p>

<p>To <%= link_to "return to the record display", @record_url %> please <%= link_to "click here", @record_url %></p>
