<p>You may copy or order a copy through <%= copies_direct_link %> or use the online copy for research or study;
  for other uses <%= rights_contact_us_link %> for further information about copying.</p>
