.bento-search-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.bento-search-results {
  .card-title {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
  }
  
  .bento-item-title {
    font-size: 1.25rem
  }
}

@media (min-width: 576px) {
  .bento-search-results .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .bento-search-results .card-columns {
    column-count: 1;
  }
}

@media (min-width: 992px) {
  .bento-search-results .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .bento-search-results .card-columns {
    column-count: 2;
  }
}
