@charset "UTF-8";
@import "../variables";
@import "../nla-custom-bootstrap";

.bento-search-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.bento-search-results {
  .placeholder {
    border-radius: 0.25em;
  }

  .card {
    border-color: $warm-grey;
    break-inside: avoid-column;
    
    &:hover {
      border-color: $black;
      box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.08);
      
      .card-title {
        background: $black;
      }
    }

    .card-title {
      background: $warm-grey;
      color: $white;
      margin: calc(-1rem - 1px) calc(-1rem - 1px) 0 calc(-1rem - 1px);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
      .h5 {
        font-family: $font-family-sans-serif;
        color: $white;
      }
      
      .view-all-results {
        font-size: 0.875rem;
        
        a {
          color: $white;
          text-decoration: none;
          
          &:hover,
          &:focus {
            color: $white;
            background-color: transparent;
            text-decoration: underline;
          }
        }
      }
    }
    
    .bento-item {
      border-bottom: 1px dotted $light-grey;
      
      &:hover,
      &:has(.bento-item-title a:focus) {
        background: $light-grey;
      }
    
      .bento-item-title {
        font-size: 1.25rem;
        a {
          text-decoration: none;
          text-underline-offset: 2px;
          text-underline-position: under;
    
          &:focus,
          &:hover {
            background: transparent;
            color: $black;
            text-decoration: underline;
            
            &:after {
              content: " \F061";
              font: var(--fa-font-regular);
            }
          }
        }
      }
      
      .document-thumbnail {
        max-width: 123px;
      }
    }
    
    .bento_pane_advanced {
      font-size: 0.875rem;  
    }
  }
}

@media (min-width: 576px) {
  .bento-search-results .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .bento-search-results .card-columns {
    column-count: 1;
  }
}

@media (min-width: 992px) {
  .bento-search-results .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .bento-search-results .card-columns {
    column-count: 2;
  }
}
