@charset "UTF-8";


.bento-search-results {
  --nla-card-bento-border-color: var(--nla-warm-grey);
  --nla-card-bento-title-bg: var(--nla-warm-grey);
  --nla-card-bento-hover-border-color: var(--nla-black);
  --nla-card-bento-hover-title-bg: var(--nla-black);
}

@media screen and (prefers-color-scheme: dark) {
  .bento-search-results {
    --nla-card-bento-border-color: var(--nla-grey-600);
    --nla-card-bento-title-bg: var(--nla-grey-600);
    --nla-card-bento-hover-border-color: var(--nla-grey-400);
    --nla-card-bento-hover-title-bg: var(--nla-grey-400);
  }
}  


.bento-search-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.bento-search {
  .input-group {
    gap: 1rem;
  }
}

@media screen and (min-width: 576px){
  .bento-search {
    width: 75%;
  }
}


.bento-search-results {
  .placeholder {
    border-radius: 0.25em;
  }

  .card {
    border-color: var(--nla-card-bento-border-color);
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-radius: 0.25rem;
    break-inside: avoid-column;
    background-color: transparent;
    
    &:hover,
    &:focus-within {
      border-color: var(--nla-card-bento-hover-border-color);
      box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.08);
      
      .card-title {
        background: var(--nla-card-bento-hover-title-bg);
      }
    }

    .card-title {
      background: var(--nla-card-bento-border-color);
      color: var(--nla-white);
      margin: calc(-1rem - 1px) calc(-1rem - 1px) 0 calc(-1rem - 1px);
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      
      .h5 {
        font-family: var(--nla-font-family-sans-serif);
        color: var(--nla-white);
      }
      
      .view-all-results {
        font-size: 0.875rem;
        
        a {
          color: var(--nla-white);
          text-decoration: none;
          
          &:hover,
          &:focus,
          &:active {
            color: var(--nla-white);
            background-color: transparent;
            text-decoration: underline;
            box-shadow: none;
          }
        }
      }
    }
    
    .bento-item {
      border-bottom: 1px dotted var(--nla-result-item-border-color);
      
      &:hover,
      &:has(.bento-item-title a:focus) {
        background: var(--nla-result-item-hover-bg);
      }
    
      .bento-item-title {
        font-size: 1.25rem;
        a {
          text-decoration: none;
          text-underline-offset: 2px;
          text-underline-position: under;
    
          &:focus,
          &:hover {
            background: transparent;
            color: var(--nla-link-color);
            text-decoration: underline;
            box-shadow: none;
            
            &:after {
              content: " \F061";
              font: var(--fa-font-regular);
            }
          }
        }
      }
      
      .dl-invert {
        dt {
          color: var(--nla-result-item-dt-color);
        }
      }

      
      .document-thumbnail {
        max-width: 123px;
        
        a {
          &:focus,
          &:hover,
          &:active {
            box-shadow: none;
          }
          
        }
      }
    }
    
    .bento_pane_advanced {
      font-size: 0.875rem;  
    }
  }
}

@media (min-width: 576px) {
  .bento-search-results .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .bento-search-results .card-columns {
    column-count: 1;
  }
}

@media (min-width: 992px) {
  .bento-search-results .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .bento-search-results .card-columns {
    column-count: 2;
  }
}
