.toggle-bookmark {
  label {
    cursor: pointer;
    min-width: auto;
    color: $warm-grey;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 0.5rem;
  }
  
  &:has(input[type=checkbox]:focus-visible) {
    color: $white !important;
    background-color: $warm-grey;
  }
  
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }

  input[type=checkbox] + span:before {
    font: var(--fa-font-light);
    content: "\e100";
    margin-right: 0.5rem;
  }

  input[type=checkbox]:checked + span:before {
    font: var(--fa-font-solid);
    content: "\e100";
  }

  .blacklight-icons {
    display: none;
  }
}

.page-sidebar {
  .show-tools {
    .list-group-item.bookmark {      
      .bookmark-toggle {
        div.toggle-bookmark {
          padding: 0.75rem 1rem;
          border-bottom: 1px solid $body-bg;
          
          label {
            color: $body-color;
          }
          
          &:focus,
          &:hover,
          &:active {
            background-color: $light-teal;
          }  
        }
      }
    }
  }
}
