.toggle-bookmark {
  label {
    cursor: pointer;
    min-width: auto;
  }
  
  input[type=checkbox] { 
    display:none; 
  }

  input[type=checkbox] + span:before { 
    font: var(--fa-font-light);
    content: "\e100"; 
    margin-right: 0.5rem;
    }
  
  input[type=checkbox]:checked + span:before { 
    font: var(--fa-font-solid);
    content: "\e100"; 
  }
}