.toggle-bookmark {
  --nla-bookmark-icon-color: var(--nla-mid-teal);
}

.bookmark-toggle {
  .toggle-bookmark {
    
    .toggle-bookmark-label {
      cursor: pointer;
      min-width: auto;
      color: var(--nla-bookmark-icon-color);
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 0.5rem;
      min-width: auto;
      
      &:hover,
      &:focus,
      &:focus-visible {
        color: var(--nla-black);
        background-color: var(--nla-bookmark-icon-color);
        outline: none;
      }
    }
      
    .toggle-bookmark-input {
      position: absolute;
      opacity: 0;
    }
  
    .toggle-bookmark-input:not(:checked) + .blacklight-icons + [data-checkboxsubmit-target="span"]::before {
      font: var(--fa-font-light);
      content: "\e100";
      margin-right: 0.5rem;
    }
  
    .toggle-bookmark-input:checked + .blacklight-icons + [data-checkboxsubmit-target="span"]::before {
      font: var(--fa-font-solid);
      content: "\e100";
      margin-right: 0.5rem;
    }
  
    .blacklight-icons-bookmark {
      display: none;
    }
  }
}

.page-sidebar {
  .show-tools {
    .list-group-item.bookmark {      
      .bookmark-toggle {
        .toggle-bookmark {
          padding: 0.75rem 1rem;
          border-bottom: 1px solid var(--nla-body-bg);
          
          .toggle-bookmark-label {
            color: var(--nla-body-color);
            padding-left: 0;
            padding-right: 0;
          }
          
          &:focus,
          &:hover,
          &:active,
          &:has(.toggle-bookmark-label:focus) {
            background-color: var(--nla-light-teal);
            
            .toggle-bookmark-label {
              color: var(--nla-black);
              
              &:hover,
              &:focus {
                background-color: transparent;
                outline: none;
              }
            }
          }  
        }
      }
    }
  }
}
