@media (max-width: 767.98px) {
  .select-item-btn .btn {
    width: 100%;
  }
}


.blacklight-account {
  .table {
    caption {
      color: var(--nla-body-color);
    }
    
    thead {
      th {
        color: var(--nla-body-bg) !important;
        background-color: var(--nla-body-color) !important;
      }
    }
    
    td {
      color: var(--nla-body-color);
      background-color: transparent;
    }
    
    .text-center {
      a {
        &:focus,
        &:hover,
        &:active {
          color: var(--nla-body-color);
          background: transparent;
          box-shadow: none;
        }
      }
    }
  }
}