<h1><%= t("account.settings.title") %></h1>

<div class="container">
  <div class="row mt-4">
    <div class="col">
      <% UserDetails::ALL_ATTRIBUTES.each do |attr| %>
        <div class="row">
          <dl class="dl-invert row">
          <%# order of conditions matters here %>
          <% if current_user.provider == "catalogue_patron" && UserDetails::PATRON_ATTRIBUTES.include?(attr)  %>
            <%= render UserDetailsFieldComponent.new(attribute: attr.to_s, details: @current_details, editable: UserDetails::PATRON_EDITABLE_ATTRIBUTES.include?(attr)) %>
          <% elsif UserDetails::STAFF_ATTRIBUTES.include?(attr) %>
            <%= render UserDetailsFieldComponent.new(attribute: attr.to_s, details: @current_details, editable: UserDetails::STAFF_EDITABLE_ATTRIBUTES.include?(attr)) %>
          <% end %>
          </dl>
        </div>
      <% end %>
    </div>

  </div>
</div>
