<h2>Account settings</h2>

<div class="row mt-4">
  <div class="col">
    <% UserDetails::ALL_ATTRIBUTES.each do |attr| %>
      <div class="row">
      <%# order of conditions matters here %>
      <% if attr == "password" %>
        <%= render UserDetailsFieldComponent.new(attribute: attr.to_s, details: @current_details, value: link_to_keycloak_password_reset.html_safe, editable: false) %>
      <% elsif current_user.provider == "catalogue_patron" && UserDetails::PATRON_ATTRIBUTES.include?(attr)  %>
        <%= render UserDetailsFieldComponent.new(attribute: attr.to_s, details: @current_details, editable: UserDetails::PATRON_EDITABLE_ATTRIBUTES.include?(attr)) %>
      <% elsif UserDetails::STAFF_ATTRIBUTES.include?(attr) %>
        <%= render UserDetailsFieldComponent.new(attribute: attr.to_s, details: @current_details, editable: UserDetails::STAFF_EDITABLE_ATTRIBUTES.include?(attr)) %>
      <% end %>
      </div>
    <% end %>
  </div>

</div>
<!--<div class="container">-->
<!--  <div class="row mt-4">-->
<!--    <div class="col-12 col-lg-8">-->
<!--      <dl class="document-metadata dl-invert row">-->
        <%# UserDetails::ALL_ATTRIBUTES.each do |attr| %>
            <%# order of conditions matters here %>
            <%# if attr == "password" %>
              <%#= render UserDetailsFieldComponent.new(attribute: attr.to_s, details: @user_details, value: link_to_keycloak_password_reset.html_safe, editable: false) %>
            <%# elsif current_user.provider == "catalogue_patron" && UserDetails::PATRON_ATTRIBUTES.include?(attr)  %>
              <%#= render UserDetailsFieldComponent.new(attribute: attr.to_s, details: @user_details, editable: UserDetails::PATRON_EDITABLE_ATTRIBUTES.include?(attr)) %>
            <%# elsif UserDetails::STAFF_ATTRIBUTES.include?(attr) %>
              <%#= render UserDetailsFieldComponent.new(attribute: attr.to_s, details: @user_details, editable: UserDetails::STAFF_EDITABLE_ATTRIBUTES.include?(attr)) %>
            <%# end %>
        <%# end %>
<!--      </dl>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
