---
http_interactions:
- request:
    method: post
    uri: https://www-test.nla.gov.au/getalibrarycard/authenticate.xml/bltest/test
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"83fb2f07ac39d870bd3b6d7482cd666d"'
    body:
      encoding: UTF-8
      string: "<response schema=\"http://schema.nla.gov.au/NXPL\" version=\"1.0\">\r\n
        \ <itemList owner=\"user/507706\" repository=\"LOON-USER-DB-CBD\" type=\"LOON-PROPERTIES\">\r\n
        \   <item name=\"LOON-USER-AUTHENTICATED\" id=\"507706\" voyid=\"378393\"
        message=\"voyager authentication\">true</item>\r\n    <item name=\"LOON-USER-CATALOGUE-GROUP\">MRR</item>
        \   \r\n    <report name=\"count\" value=\"2\"/>\r\n  </itemList>\r\n</response>"
  recorded_at: Thu, 21 Jul 2022 00:36:33 GMT
- request:
    method: get
    uri: https://www-test.nla.gov.au/getalibrarycard/patrons/details/507706.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"44c4ef449395c529f057ef364151541f"'
    body:
      encoding: UTF-8
      string: "<response schema=\"http://schema.nla.gov.au/NXPL\" version=\"1.0\">\r\n
        \ <itemList ty[...]
- request:
    method: get
    uri: http://delong.nla.gov.au:10001/solr/blacklight/select?f.language_ssim.facet.limit=11&f.subject_ssim.facet.limit=21&facet=true&facet.field=subject_era_ssim&facet.pivot=format,language_ssim&facet.query=pub_date_ssim:%5B1997%20TO%20*%5D&rows=10&sort=score%20desc,%20pub_date_si%20desc,%20title_si%20asc&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 20 Jul 2022 05:05:36 GMT
      Etag:
      - '"MTQwMDAwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "status":0,
            "QTime":3,
            "params":{
              "f.subject_ssim.facet.limit":"21",
              "facet.query":["pub_date_ssim:[2017 TO *]",
                "pub_date_ssim:[2012 TO *]",
                "pub_date_ssim:[1997 TO *]"],
              "f.language_ssim.facet.limit":"11",
              "facet.field":["format",
                "{!ex=pub_date_ssim_single}pub_date_ssim",
                "subject_ssim",
                "language_ssim",
                "lc_1letter_ssim",
                "subject_geo_ssim",
                "subject_era_ssim"],
              "facet.pivot":"format,language_ssim",
              "sort":"score desc, pub_date_si desc, title_si asc",
              "rows":"10",
              "facet":"true",
              "wt":"json"}},
          "response":{"numFound":91,"start":0,"maxScore":1.0,"numFoundExact":true,"docs":[
              {
                "id":"64",
                "marc_ss":"<record><leader>00901cam a2200265 a 4500</leader><controlfield tag=\"001\">64</controlfield><controlfield tag=\"005\">20180908165111.0</controlfield><controlfield tag=\"008\">020123s2001    weaa     b    100 0 eng d</controlfield><datafield tag=\"019\" ind1=\"1\" ind2=\" \"><subfield code=\"a\">23312139</subfield></datafield><datafield tag=\"020\" ind1=\" \" ind2=\" \"><subfield code=\"a\">1863080899</subfield></datafield><datafield tag=\"035\" ind1=\" \" ind2=\" \"><subfield code=\"9\">(AuCNLDY)3187785</subfield></datafield><datafield tag=\"035\" ind1=\" \" ind2=\" \"><subfield code=\"a\">64</subfield></datafield><datafield tag=\"040\" ind1=\" \" ind2=\" \"><subfield code=\"a\">ANL</subfield><subfield code=\"b\">eng</subfield></datafield><datafield tag=\"042\" ind1=\" \" in[...]
[...]
